:root {
  --light-green: #f0fdfa;
  --dark-green: #60baa7;
  --font-color: black;
  --a-color: #0d6efd;
  --dark-blue: #1c4c9f;
  --light: #f1f5f9;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box !important;
}

body {
  font-family: "alfont_com_هلفيتيكا-عربي-", sans-serif;
}

@font-face {
  font-family: "alfont_com_هلفيتيكا-عربي-";
  src: url("../fonts/alfont_com_هلفيتيكا-عربي-.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* general */
a {
  text-decoration: none;
  color: var(--font-color) !important ;
}

button {
  font-style: HelveticaNeue, sans-serif;
}

.btn {
  background-color: var(--dark-blue);
}
.btn:hover {
  background-color: #133570;
  /* opacity: 0.5; */
  transition: 0.3s ease-in-out !important;
}
input:focus {
  box-shadow: none !important;
}

ul {
  list-style-type: none;
}
/* ========================================================================= */
/* navbar */
.nav-link:hover {
  color: var(--a-color) !important;
}
.navbar {
  background-color: var(--light-green);
  height: 80px;
}

.dropdown-toggle::after {
  display: none !important;
}

.dropdown-toggle:focus {
  box-shadow: none;
  border: none;
}

.dropdown-menu.show {
  border: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 5px -3px,
    rgba(0, 0, 0, 0.14) 0px 8px 10px 1px, rgba(0, 0, 0, 0.12) 0px 3px 14px 2px;
  padding: 8px 0px;
  /* right: 0; */
  margin-left: 10px;
}

.dropdown-item {
  transition: 0.3s ease-in-out !important;
}

.dropdown-item:hover {
  color: var(--a-color) !important;
}

@media (max-width: 992px) {
  .dropdown {
    display: none;
  }
}
@media (min-width: 1200px) {
  .dropdown-menu.show {
    right: 0;
  }
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-toggler:hover {
  background-color: rgb(235, 235, 235);
}
.navbar-toggler.collapsed {
}

/* =============================================================================== */
/* main */
.light-btn {
  background-color: var(--light);
}

.light-btn:hover {
  background-color: black;
}

.light-btn:hover a {
  color: white !important;
}

@media (min-width: 768px) {
  .main-h1 {
    font-size: 3.75rem !important;
  }
}

/* ============================================================================== */

/* 2 options div */

/* General Styling */
.option-parent {
  background-color: var(--light);
}

.circle-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-icon-1 {
  background-color: var(--dark-blue);
}

.circle-icon-2 {
  background-color: var(--dark-green);
}

/* Hover Effects */
.option-item:hover {
  /* transition: 0.1s ease-in-out; */
}

.option-item-1:hover {
  background-color: var(--dark-blue) !important;
}

.option-item-2:hover {
  background-color: var(--dark-green) !important;
}

.option-item-1:hover h4,
.option-item-2:hover h4 {
  color: white !important;
}

.option-item-1:hover .circle-icon,
.option-item-2:hover .circle-icon {
  background-color: white;
}

.option-item-1:hover .circle-icon .icon {
  color: var(--dark-blue) !important;
}

.option-item-2:hover .circle-icon .icon {
  color: var(--dark-green) !important;
}

/* Responsive Design */
@media (max-width: 767.98px) {
  .circle-icon {
    width: 90px !important;
    height: 90px !important;
  }
  /* .option-item {
    padding: 20px 50px !important;
    height: 150px;
  } */
  .option-item h4 {
    font-size: 18px;
    font-weight: 500;
  }
  .option-item p {
    font-size: 16px !important;
    font-weight: 500;
  }
}

@media (min-width: 768px) {
  .circle-icon {
    width: 90px;
    height: 90px;
  }
  .option-item h4 {
    font-size: 18px;
    font-weight: 500;
  }
}

@media (min-width: 992px) {
  .option-parent {
    transform: translateY(-50%);
    background-color: transparent;
  }

  .option-item {
    padding: 30px 70px !important;
    height: 175px;
    margin-top: 0;
    transition: 0.3s ease-in-out;
  }

  .option-item:hover {
    height: 200px;
    margin-top: -25px;
    border-radius: 20px 20px 0 0 !important;
  }

  .circle-icon {
    width: 110px;
    height: 110px;
  }

  .option-item h4 {
    font-size: 24px;
    font-weight: 500;
  }

  .option-item p {
    font-size: 18px !important;
    font-weight: 500;
  }

  .font-for-options h2 {
    font-size: 36px;
  }

  .font-for-options p {
    font-size: 24px !important;
  }
}

/* /////////////////////////////////////////////////////////////////////////////////////// */

@media (min-width: 576px) and (max-width: 767.98px) {
  .h2-sec3 {
    font-size: 30px !important;
  }
  .p-sec3 {
    font-size: 16px !important;
  }
}

/* ///////////////////////////////////////////////////////////////////////////////////////// */
/* scrollable-tabs-container */

.scrollable-tabs-container button.active {
  background-color: rgba(0, 0, 0, 0.06) !important;
  color: black !important;
  display: inline-block;
}

.scrollable-tabs-container ul {
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.scrollable-tabs-container ul li {
  display: inline-block;
}

.scrollable-tabs-container ul::-webkit-scrollbar {
  display: none;
}

.right-arrow {
  display: none !important ;
}
.left-arrow,
.right-arrow {
  cursor: pointer;
}

.scrollable-tabs-container .left-arrow.active,
.scrollable-tabs-container .right-arrow.active {
  display: flex !important;
}

/* ////////////////////////////////////////////////////////////////////////////////////////// */

.accordion-header button:focus {
  box-shadow: none !important;
  border: 0;
  outline: 0;
}

/* Hide Bootstrap's default arrow */
.accordion-button::after {
  display: none !important;
}

/* Add a custom arrow */
.accordion-button.custom-arrow::before {
  display: inline-block !important;
  content: "\25B2" !important;
  color: black !important;
  font-size: 16px !important;
  transform: rotate(0deg) !important;
  transition: transform 0.2s ease-in-out !important;
  -webkit-transition: transform 0.2s ease-in-out !important;
  -moz-transition: transform 0.2s ease-in-out !important;
  -ms-transition: transform 0.2s ease-in-out !important;
  -o-transition: transform 0.2s ease-in-out !important;
}

/* Change arrow when collapsed */
.accordion-button.custom-arrow.collapsed::before {
  content: "\25BC" !important;
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////// */

.custom-underline {
  border-bottom: 1px solid #dde0e4;
}

.colorful {
  background: linear-gradient(270deg, #3266e3, #54b5a6);
}
/* //// */
/* ///// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////// */

@media (min-width: 1200px) {
  footer {
    padding: 160px 0px !important;
  }
}
